.auth-container {
  width: 450px;
  background: #1a1a1a;
  padding: 55px 45px;
  border-radius: 16px;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .brand-title {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #eaeaea;
    letter-spacing: 1px;
  }

  .brand-subtitle {
    font-size: 23px;
    margin-bottom: 30px;
    color: #c9c9c9;
  }

  input {
    width: 100%;
    padding: 15px 1px;
    margin: 14px 0;
    background: #222;
    border: 1px solid #3b3b3b;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    transition: 0.3s;

    &:focus {
      border-color: #7b29ff;
      outline: none;
      background: #262626;
    }
  }

  button {
    width: 100%;
    padding: 15px 18px;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    background: #6a00ff; 
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 600;

    &:hover:not(:disabled) {
      transform: scale(1.04); 
      box-shadow: 0px 8px 22px rgba(106, 0, 255, 0.5); 
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }


  span {
    font-size: 13px;
    color: #ff6b6b;
    text-align: left;
    display: block;
    margin-left: 4px;
  }

  .switch-text {
    margin-top: 20px;
    font-size: 15px;
    color: #bbb;

    a {
      color: #8ab4ff;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.form-group {
  text-align: left;
  margin-bottom: 18px;

  label {
    color: #dcdcdc;
    font-size: 20px;
    margin-bottom: 6px;
    display: block;
    font-weight: 500;
  }

  span {
    margin-top: 4px;
  }
}


.password-field {
  display: flex;
  align-items: center;
  position: relative;

  input {
    width: 100%;
    padding-right: 70px;
  }

}
