.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #0b0b0b;
}

.auth-container {
  width: 100%;
  max-width: 450px;
  background: #1a1a1a;
  padding: 50px 45px;
  border-radius: 16px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
}

.brand-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 8px;
  color: #eaeaea;
}

.brand-subtitle {
  font-size: 20px;
  margin-bottom: 28px;
  color: #c9c9c9;
}

.form-group {
  text-align: left;
  margin-bottom: 18px;

  label {
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
  }
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 14px 44px 14px 14px;
  margin-top: 8px;
  background: #222;
  border: 1px solid #3b3b3b;
  border-radius: 12px;
  color: #fff;
  font-size: 15px;

  &:focus {
    border-color: #6a00ff;
    outline: none;
    background: #262626;
  }
}

.password-wrapper {
  position: relative;

  .eye-btn {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #aaa;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: #6a00ff;
    }
  }
}

.remember-row {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 6px;
}

.remember-box {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #cfcfcf;
  cursor: pointer;

  input {
    accent-color: #6a00ff;
    width: 16px;
    height: 16px;
  }
}

button[type='submit'] {
  width: 100%;
  padding: 14px;
  margin-top: 22px;
  border: none;
  border-radius: 12px;
  background: #6a00ff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 22px rgba(106, 0, 255, 0.5);
  }
}

.form-group span {
  font-size: 12px;
  color: #ff6b6b;
  margin-top: 4px;
  display: block;
}

.Forgot-section{
  color: #6a00ff;
  display: block; 
  text-align: left; 
  :hover {
    cursor: pointer;
  }
}

.switch-text {
  margin-top: 18px;
  font-size: 14px;
  color: #bbb;

  a {
    color: #8ab4ff;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 480px) {
  .auth-container {
    padding: 36px 22px;
    border-radius: 14px;
  }

  .brand-title {
    font-size: 30px;
  }

  .brand-subtitle {
    font-size: 17px;
  }

  button[type='submit'] {
    font-size: 16px;
  }
}
