.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #0b0b0b;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  background: #1a1a1a;
  padding: 36px 34px;
  border-radius: 14px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
}

.brand-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 6px;
  color: #eaeaea;
}

.brand-subtitle {
  font-size: 16px;
  margin-bottom: 22px;
  color: #c9c9c9;
}

.form-group {
  text-align: left;
  margin-bottom: 16px;

  label {
    font-size: 15px;
    color: #dcdcdc;
    margin-bottom: 5px;
    display: block;
  }
}

input {
  width: 100%;
  padding: 12px 44px 12px 12px;
  background: #222;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;

  &:focus {
    border-color: #6a00ff;
    outline: none;
    background: #262626;
  }
}

.password-wrapper {
  position: relative;

  .eye-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 17px;

    &:hover {
      color: #6a00ff;
    }
  }
}

button[type='submit'] {
  width: 100%;
  padding: 12px;
  margin-top: 14px;
  border: none;
  border-radius: 10px;
  background: #6a00ff;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 18px rgba(106, 0, 255, 0.5);
  }
}

span {
  font-size: 12px;
  color: #ff6b6b;
  margin-top: 4px;
  display: block;
}

.switch-text {
  margin-top: 14px;
  font-size: 14px;
  color: #bbb;

  a {
    color: #8ab4ff;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form-group.terms {
  margin-top: 14px;
}

.terms-label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6a00ff;
  font-size: 14px;
  cursor: pointer;
}

.terms-label input[type='checkbox'] {
  width: 16px;
  height: 16px;
  accent-color: #6a00ff;
  cursor: pointer;
}

.form-group.terms span {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  color: #6a00ff;
}


@media (max-width: 480px) {
  .auth-container {
    padding: 30px 22px;
    border-radius: 12px;
  }

  .brand-title {
    font-size: 28px;
  }

  .brand-subtitle {
    font-size: 15px;
  }

  button[type='submit'] {
    font-size: 16px;
  }
}
