<nav class="navbar">
  <div class="navbar-inner">
    <div class="logo">
      AutoHub
      <span *ngIf="userName" class="username">
        -HELLO {{ userName }}!
      </span>
    </div>
    <ul class="links">
      <li routerLink="/dashboard" routerLinkActive="active" (click)="godeshboard()">
        Dashboard
      </li>
      <!-- <li>Profile</li> -->
      <div class="profile-wrapper">
      <img
        src="/picture.png"
        alt="Profile"
        class="avatar"
      />
    </div>
      <li (click)="onLogout()">Logout</li>
    </ul>
  </div>
</nav>
