html, body {
  background-color: #0d0d0d;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  font-family: 'Poppins', sans-serif;
}
