<div class="management-layout">
  <aside class="sidebar">
    <h2 class="title">Vehicle Management</h2>

    <button routerLink="show-vehicles" routerLinkActive="active">
      Show Vehicles
    </button>

    <button routerLink="find-vehicle" routerLinkActive="active">
      Find Vehicle
    </button>

    <button routerLink="add-vehicle" routerLinkActive="active">
      Add Vehicle
    </button>

    <button routerLink="add-vehicle-image" routerLinkActive="active">
      Add Vehicle Images
    </button>
  </aside>
  
  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>
